hostname {{ inventory_hostname }}
!
service routing protocols model multi-agent
spanning-tree mode none
!
{% for s in dns_servers %}
ip name-server {{ s }}
{% endfor %}
{% for s in ntp_servers %}
ntp server {{ s }}
{% endfor %}
!
interface Management1
   ip address {{ ansible_host }}/{{ mgmt_prefix_length }} 
   {# Will be used later when bootstrapping #}
!
