interface Loopback0
   ip address {{ loopback }}/32
!
{% for intf in interfaces %}
interface {{ intf.name }}
   description {{ intf.description }}
   no switchport
   ip address {{ intf.ip }}
!
{% endfor %}
ip routing
!
